<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/assets/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 style="text-align: center;">Resultados</h1>

<!-- Cree una tabla donde se van a desplegar los datos juntos -->
<!-- indicando cual pertenece a cada cual! -->
    <div class="card_01">
        <table class="tabla_01">
            <tr class="encabezado">
                <th>Nombre</th>
                <th>edad</th>
                <th>nss</th>
                <th>Tipo de sangre</th>
            </tr>
            
            <tr>
                <th> <%= nombre %> </th>
                <th> <%= edad %> </th>
                <th> <%= nss %> </th>
                <th> <%= tipoSangre %> </th>
            </tr>
        </table>
    </div>

</body>

</html>