<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/assets/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Titulo principal -->
    <h1 style="text-align: center;">Agregar estudiante</h1>

    <!-- Formulario -->
    <!-- Elimine los labels porque me parece que así quedaba mejor el formulario. -->
    <form action="/addStudent" method="post">
        <div class="card_01">
            <div>
                <input type="text" name="nss" id="nss" placeholder="NSS" class="input_01">
            </div>

            <div>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="input_01">
            </div>

            <div>
                <input type="text" name="edad" id="edad" placeholder="Edad" class="input_01">
            </div>

            <div>
                <input type="text" name="tipoSangre" id="tipoSangre" placeholder="Tipo de sangre" class="input_01">
            </div>

            <div>
                <input type="submit" value="submit" id="boton">
            </div>
        </div>
    </form>

</body>

</html>